body {
    margin: 0;
    background-color: var(--td-bg-color-page);
}

@font-face {
    font-family: digital;
    src: url('PUTHIAfont.ttf');
}

.timer {
    font-family: 'digital';
    font-size: 3.5rem;
    color: red
}